In [3]:
import pandas as pd

In [4]:
#To have a grasp on what the data about covid looks like
covid = pd.read_csv('owid-covid-data.csv')
covid.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN

In [8]:
#To know how many rows and columns are we dealing with
covid.shape

(21396, 32)

In [7]:
covid.columns

Index(['iso_code', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
       'stringency_index', 'population', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cvd_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_100k'],
      dtype='object')

In [9]:
#what countries are included in this dataset and how many dates has been recorded?
covid['location'].value_counts()
#Length = # of countries in this dataset

United Kingdom    155
Austria           155
Netherlands       155
Belgium           155
Greece            155
                 ...
Yemen              54
Western Sahara     38
Tajikistan         33
Comoros            32
Lesotho            19
Name: location, Length: 212, dtype: int64

In [13]:
#Describe the data
covid.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
count,2.139600e+04,21396.000000,21396.000000,21396.000000,21011.000000,21011.000000,21011.000000,21011.000000,5.760000e+03,5151.000000,...,19173.000000,19339.000000,19162.000000,12709.000000,19356.000000,20069.000000,15715.000000,15543.000000,8503.000000,17824.000000
mean,2.085506e+04,583.786876,1363.667414,35.186670,571.227824,13.786919,24.850056,0.562760,3.003000e+05,11210.145991,...,9.829165,6.256456,23014.323502,10.340782,245.729796,8.011232,11.277854,32.638572,55.052022,3.219045
std,2.130015e+05,5185.498805,14146.345022,331.575652,1600.153738,63.401774,98.369096,3.464012,1.105118e+06,37640.512689,...,6.460364,4.435468,21304.517353,17.734862,118.901902,4.037434,10.565547,13.224733,31.012020,2.603450
min,0.000000e+00,-2461.000000,0.000000,-1918.000000,0.000000,-265.189000,0.000000,-41.023000,1.000000e+00,1.000000,...,1.144000,0.526000,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000
25%,7.000000e+00,0.000000,0.000000,0.000000,1.011500,0.000000,0.000000,0.000000,1.005625e+04,606.000000,...,3.941000,2.322000,6426.674000,0.500000,151.089000,5.310000,1.900000,21.400000,24.640000,1.400000
50%,1.140000e+02,2.000000,2.000000,0.000000,39.450000,0.305000,0.294000,0.000000,5.155250e+04,2081.000000,...,7.724000,4.718000,15663.986000,1.500000,233.070000,7.110000,7.000000,31.400000,59.607000,2.600000
75%,1.468000e+03,49.000000,32.000000,1.000000,294.762000,6.357000,5.718000,0.068000,1.859335e+05,6813.500000,...,15.322000,9.842000,35938.374000,10.100000,311.110000,10.080000,19.800000,40.800000,83.841000,4.280000
max,6.245352e+06,127796.000000,376427.000000,10520.000000,20281.771000,4944.376000,1237.551000,200.040000,1.693689e+07,492276.000000,...,27.049000,18.493000,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000

In [14]:
#Check if there are null values in the dataset
covid.isna().any()

iso_code                            True
location                           False
date                               False
total_cases                        False
new_cases                          False
total_deaths                       False
new_deaths                         False
total_cases_per_million             True
new_cases_per_million               True
total_deaths_per_million            True
new_deaths_per_million              True
total_tests                         True
new_tests                           True
total_tests_per_thousand            True
new_tests_per_thousand              True
new_tests_smoothed                  True
new_tests_smoothed_per_thousand     True
tests_units                         True
stringency_index                    True
population                          True
population_density                  True
median_age                          True
aged_65_older                       True
aged_70_older                       True
gdp_per_capita                      True
extreme_poverty                     True
cvd_death_rate                      True
diabetes_prevalence                 True
female_smokers                      True
male_smokers                        True
handwashing_facilities              True
hospital_beds_per_100k              True
dtype: bool

In [15]:
#how many nullvalues are there in each column?
covid.isna().sum()

iso_code                              64
location                               0
date                                   0
total_cases                            0
new_cases                              0
total_deaths                           0
new_deaths                             0
total_cases_per_million              385
new_cases_per_million                385
total_deaths_per_million             385
new_deaths_per_million               385
total_tests                        15636
new_tests                          16245
total_tests_per_thousand           15636
new_tests_per_thousand             16245
new_tests_smoothed                 15079
new_tests_smoothed_per_thousand    15079
tests_units                        14481
stringency_index                    4362
population                            64
population_density                   958
median_age                          1959
aged_65_older                       2223
aged_70_older                       2057
gdp_per_capita                      2234
extreme_poverty                     8687
cvd_death_rate                      2040
diabetes_prevalence                 1327
female_smokers                      5681
male_smokers                        5853
handwashing_facilities             12893
hospital_beds_per_100k              3572
dtype: int64